@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Task";
}
@model TaskResponse;

@*asks the user if they would like to delete the specific task pulled from the task table*@
<div class="text-center">
    <h1>Delete Movie?</h1>
    <h3>Are you sure you want to delete the record for @Model.Task?</h3>

    @*delete button will call the delete action and thus update the database, cancel will send the user back to the movie table*@
    <form method="post" asp-action="Delete">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Home" asp-action="Quadrants" class="btn btn-primary">Cancel</a>

        <input type="hidden" asp-for="TaskId" />
    </form>
</div>
